#DATASOURCE
#spring.datasource.url=jdbc:h2:mem:testdb
#spring.datasource.url=jdbc:h2:file:./data/webdev_ds
spring.datasource.url=jdbc:h2:file:./data/exemplo
spring.datasource.driverClassName=org.h2.Driver
spring.datasource.username=sa
spring.datasource.password=password

#H2 Console
spring.h2.console.enabled=true
spring.h2.console.path=/h2-console

#Dialeto do Hibernate para H2
spring.jpa.database-platform=org.hibernate.dialect.H2Dialect

#Criar automaticamente as tabelas
spring.jpa.hibernate.ddl-auto=update
victormbleite — Hoje às 19:18

#Diretórios do Maven
/target/
.idea/
.iml

#Arquivos do Eclipse/STS
/.settings/
.project
.classpath

#Logs
/logs/
.log

#Configuração do banco de dados H2 (evitar dados sensíveis)
/data/

#Arquivos temporários do sistema operacional
.DS_Store
Thumbs.db

#Prerequisites
*.d

#Object files
*.o
*.ko
*.obj
*.elf

#Linker output
*.ilk
*.map
*.exp

#Precompiled Headers
*.gch
*.pch

#Libraries
*.lib
*.a
*.la
*.lo

#Shared objects (inc. Windows DLLs)
*.dll
*.so
.so.
*.dylib

#Executables
*.exe
*.out
*.app
.i86
*.x86_64
*.hex

#Debug files
*.dSYM/
*.su
*.idb
*.pdb

#Kernel Module Compile Results
.mod
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
